@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer utilities {
  .app-text {
    @apply text-indigo-500 dark:text-indigo-400
  }
  .app-text_primary_dark200 {
    @apply text-primary dark:text-zinc-200
  }
  .app-text_light600_dark200 {
    @apply text-zinc-600 dark:text-zinc-200
  }
  .app-text_light500_dark400 {
    @apply text-zinc-500 dark:text-zinc-400
  }
  .app-text-hover_light600_dark300 {
    @apply hover:text-zinc-600 dark:hover:text-zinc-300
  }
  .app-text-group-hover_light600_dark300 {
    @apply group-hover:text-zinc-600 dark:group-hover:text-zinc-300
  }
  .app-bg_light500_dark400 {
    @apply bg-zinc-500 dark:bg-zinc-400
  }
  .app-bg-hover_light600_dark300 {
    @apply hover:bg-zinc-600 dark:hover:bg-zinc-300
  }

  .app-bg_light_dark {
    @apply bg-[#E3E5E8] dark:bg-[#1E1F22]
  }

  .app-danger {
    @apply text-rose-500
  }

  .app-icon {
    @apply h-4 w-4
  }
  .app-icon-lg {
    @apply h-5 w-5
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

}